{
  "extends": [
    "./node_modules/@rwu823/ts-base/.eslintrc"
  ],
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/no-unescaped-entities": 0,
    "react/jsx-curly-brace-presence": 0,
    "react/prop-types": 0,

    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0
  }
}
